@import "~../sass/_variables.scss";

html, body, :host, :host > .layout-container {
  height: 100vh;
}

$light-text: rgba(map-get(map-get($primary-palette, contrast), 800), 0.9);

.home-nav {
  margin: 0 auto;
  display: block;
  margin-top: 0.5rem;
}

.sidenav {
  width: 200px;
  height: 100vh;
  background-color: map-get($primary-palette, 800);
  color: $light-text;
}

.menu-item {
  color: $light-text;
}

.menu-item-divider {
  border-top-color: rgba(white,.12);
}

.menu-button {
  margin-right: 1rem;
}

.subHeading {
  color: rgba(black, 0.55);
}