.page-header {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    align-items: center;

    > .form-field {
        flex: 1;
        margin-right: 1rem;
    }
}

.eva-popover {
    margin-bottom: 0.5rem;
}

.filter-popover-card {
    padding: 0;
    max-height: 300px;
    overflow-y: scroll;
}

.options-popover-card {
    padding: 0;

    > mat-nav-list {
        padding-top: 0;
    }

    mat-icon {
        padding-left: 0 !important;
    }
}

.filter-button {
    margin-right: 0.5rem;
}

.options-cell {
    flex: 0 0 auto;

    &.options-cell-header {
        color: transparent;
    }
}